/* ******************  EDUCATION & CERTIFICATIONS ****************** */

$education-bg-size: cover;
$education-bg-position: top right;
$education-padding-bottom: 100px;
$education-description-width: 60%;





