$link-color: #ED5D31;

footer {
    background: #343434;
    color: #f7fff7;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .contact-list {
        list-style: none; 
        padding: 0;
        text-align: center;
     
        align-items: center;

        a {
            padding: 15px;
            display: inline-block;
        }
    }
}

