$background-color: #fec0aa;
$text-color: #222;
$accent-color: #93d277;
$overlay-color: rgba(0, 0, 0, 0.7);
$transition-time: 200ms;

/* Reset styles */
* {
  margin: 0;
  padding: 0;
}

/* Base styles */
body {
  font-family: 'Outfit', sans-serif;
  box-sizing: border-box;
}

h1 {
  text-align: center;
  margin: 16px 0;
}

h2 {
  margin-bottom: 16px;
}

.wrapper {
  margin: 0 auto;
  max-width: 600px;
  text-align: center;
}

.button {
  background: $text-color;
  color: $accent-color;
  padding: 16px 24px;
  text-decoration: none;
  display: inline-block;
  border-radius: 20%;
}
