/* Variables */
$navbar-background-color: #000000;
$navbar-text-color: #ED5D31;
$navbar-height: 50px;
$navbar-item-padding: 14px 16px;
$navbar-item-font-weight: bold;
$navbar-item-font-size: 23px;
$navbar-transition-duration: 0.3s;

