/* Define variables */
:root {
    --main-bg-color: #f0f0f0;
    --main-text-color: #ED5D31;
    --button-bg-color: #000000;
    --button-text-color: #ED5D31;
    --button-hover-bg-color: #484949;
    --button-hover-text-color: #fafaf8;
    --svg-img-hover-translateX: 30px;
    --svg-img-hover-translateX-alt: -40px;
    --blinking-text-border-color: #000000;
  }
  
  /* grid-container */
  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    margin: 0 auto;
    width: 80%;
  
    .grid-item {
      background-color: var(--main-bg-color);
      padding: 20px;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 300px;
    }
  
    @media screen and (max-width: 768px) {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(6, 1fr);
    }
  }
  

  

  


  


  