/* Variables */
$navbar-background-color: #000000;
$navbar-text-color: #ED5D31;
$navbar-height: 50px;
$navbar-item-padding: 14px 16px;
$navbar-item-font-weight: bold;
$navbar-item-font-size: 23px;
$navbar-transition-duration: 0.3s;

/* motion-navbar */
.motion-navbar {
    background-color: $navbar-background-color;
    overflow: hidden;
    height: $navbar-height;

    &__list {
        display: flex;
        justify-content: space-between;
        list-style: none;
        margin: 0;

        &__item {
            a {
                display: block;
                color: $navbar-text-color;
                padding: $navbar-item-padding;
                text-decoration: none;
                transition: background-color $navbar-transition-duration;
                font-weight: $navbar-item-font-weight;
                font-size: $navbar-item-font-size;
            }
        }
    }
}
