/* Define variables */
:root {
    --main-bg-color: #f0f0f0;
    --main-text-color: #ED5D31;
    --button-bg-color: #000000;
    --button-text-color: #ED5D31;
    --button-hover-bg-color: #484949;
    --button-hover-text-color: #fafaf8;
    --svg-img-hover-translateX: 30px;
    --svg-img-hover-translateX-alt: -40px;
    --blinking-text-border-color: #000000;
  }
  
  /* grid-container */
  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    margin: 0 auto;
    width: 80%;
  
    .grid-item {
      background-color: var(--main-bg-color);
      padding: 20px;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 300px;
    }
  
    @media screen and (max-width: 768px) {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(6, 1fr);
    }
  }
  
  /* transition-button */
  .transition-button {
    background-color: var(--button-bg-color);
    color: var(--button-text-color);
    border: none;
    padding: 10px 20px;
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
  
    &:hover {
      background-color: var(--button-hover-bg-color);
      color: var(--button-hover-text-color);
      transform: scale(1.3);
    }
  }
  
  /* animated-word */
  .animated-word {
    position: relative;
    overflow: hidden;
    align-items: center;
    color: var(--main-text-color);
    font-weight: bold;
  
    .word {
      font-size: 12px;
      animation: animateWord 3s linear infinite;
    }
  
    @keyframes animateWord {
      0% {
        font-size: 10px;
      }
      50% {
        font-size: 15px;
      }
      100% {
        font-size: 20px;
      }
    }
  }
  
  /* svg-img */
  .svg-img {
    width: 100px;
  
    &:hover {
      animation-name: move;
      animation-duration: 2.5s;
      animation-iteration-count: infinite;
      animation-fill-mode: forwards;
      animation-direction: alternate;
    }
  
    @keyframes move {
      0% {
        transform: translateX(0px);
      }
      50% {
        transform: translateX(var(--svg-img-hover-translateX));
      }
      100% {
        transform: translateX(var(--svg-img-hover-translateX-alt));
      }
    }
  }
  
  /* blinking-text */
  .blinking-text {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    border-right: solid var(--blinking-text-border-color);
    animation: typing 3s steps(10) infinite, blink 0.2s steps(1) infinite;
  
    @keyframes blink {
      0%, 100% {
        border-color: transparent;
      }
      50% {
        border-color: var(--blinking-text-border-color);
      }
    }
  
    @keyframes typing {
      0% {
        width: 0;
      }
      100% {
        width: 100%;
      }
    }
  }
  


  