/* Define Colors */
$navbar-background-color: #000000;
$link-color: #ED5D31;
$link-hover-color: #add19d;

/* Nav bar */
.navbar {
  background-color: $navbar-background-color;
  overflow: hidden;
  position: sticky;
  top: 0;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;

    li {
      a {
        display: block;
        color: $link-color;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        transition: background-color 0.3s;
        font-weight: bold;
        font-size: 25px;

        &:hover {
          background-color: $link-hover-color;
        }
      }
    }
  }
}
