// Define colors
$projectsBackgroundColor: #c9ccc9;
$projectsLinkColor: #add19d;
$projectsBtnColor: #090a09;
$projectsBtnBackground: #93d277;
$projectsBtnHoverBackground: rgba(159, 192, 141, 0.8);

// Define padding and border-radius
$projectsBtnPadding: 8px;
$projectsBtnBorderRadius: 4px;

.projects {
    background: $projectsBackgroundColor;
  
    a {
        color: $projectsLinkColor;
    }
  
}
