// Colors
$background-color: #FEC0AA;
$text-color: #161414;
$description-color: #221e1e;
$company-color: #241c1c;
$date-color: #232121;
$summary-color: #555;
$border-color: #050202;
$mobile-breakpoint: 768px;

// Font sizes
$title-font-size: 24px;
$title-font-weight: bold;
$description-font-size: 16px;
$details-font-size: 18px;
$summary-font-size: 16px;
$date-font-size: 14px;  

.work-experience {
  background: $background-color;

  &__title {
    font-size: $title-font-size;
    font-weight: $title-font-weight;
    color: $text-color;
    margin-bottom: 15px;
  }

  &__description {
    font-size: $description-font-size;
    line-height: 1.5;
    color: $description-color;
    margin-bottom: 20px;
  }

  .job-item {
    border-bottom: 1px solid $border-color;
    padding: 20px;

    &__details {
      margin-bottom: 10px;

      &__title {
        font-size: $details-font-size;
        font-weight: $title-font-weight;
        color: $text-color;
      }

      &__company {
        font-size: $details-font-size;
        color: $company-color;
      }

      &__date {
        font-size: $date-font-size;
        color: $date-color;
      }
    }

    &__summary {
      font-size: $summary-font-size;
      color: $summary-color;
      line-height: 1.5;

      &__paragraph {
        margin-bottom: 15px;
      }

      &__roles {
        font-weight: $title-font-weight;
        margin-bottom: 10px;
      }

      &__role-list {
        list-style-type: none;
        padding: 0;

        &__role {
          margin-bottom: 5px;
        }
      }
    }
  }
}


 // Mobile styles
 @media screen and (max-width: $mobile-breakpoint) {
  .job-item {
    padding: 10px;

    &__details {
      margin-bottom: 5px;
    }

    &__summary {
      font-size: $summary-font-size - 2; 
    }
  }
}