// Colors
$background-color: #FEC0AA;
$text-color: #161414;
$description-color: #221e1e;
$company-color: #241c1c;
$date-color: #232121;
$summary-color: #555;
$border-color: #050202;

// Font sizes
$title-font-size: 24px;
$title-font-weight: bold;
$description-font-size: 16px;
$details-font-size: 18px;
$summary-font-size: 16px;
$date-font-size: 14px;

