/* Global styles 
-----------------------------*/

$base-color: #343434;
$link-color: #ED5D31;
$font-primary: 'Outfit', sans-serif;
$font-secondary: 'Satisfy', cursive;

body {
    color: $base-color;
    margin: 0;
    padding: 0;
    font-family: $font-primary;
    font-size: 15px;
}
