/* Define Colors */
/* Nav bar */
.navbar {
  background-color: #000000;
  overflow: hidden;
  position: sticky;
  top: 0;
}
.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}
.navbar ul li a {
  display: block;
  color: #ED5D31;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: background-color 0.3s;
  font-weight: bold;
  font-size: 25px;
}
.navbar ul li a:hover {
  background-color: #add19d;
}

header {
  background: #000000;
  color: #add19d;
}
header p {
  color: #ffffff;
}

.projects {
  background: #c9ccc9;
}
.projects a {
  color: #add19d;
}
.projects .btn {
  color: #090a09;
  background: #93d277;
  text-decoration: none;
  padding: 8px;
  border-radius: 4px;
  display: inline-block;
}
.projects .btn:hover {
  background: rgba(159, 192, 141, 0.8);
}
.projects__item {
  overflow: hidden;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.projects__item h3 {
  margin-top: 0;
}
.projects__item img {
  margin-right: 16px;
}
@media screen and (max-width: 768px) {
  .projects {
    padding: 10px;
  }
  .projects__item {
    flex-direction: column;
  }
  .projects__item h3 {
    margin-bottom: 8px;
  }
  .projects__item img {
    margin-right: 0;
    margin-bottom: 8px;
  }
  .projects .btn {
    width: 100%;
  }
}

.work-experience {
  background: #FEC0AA;
}
.work-experience__title {
  font-size: 24px;
  font-weight: bold;
  color: #161414;
  margin-bottom: 15px;
}
.work-experience__description {
  font-size: 16px;
  line-height: 1.5;
  color: #221e1e;
  margin-bottom: 20px;
}
.work-experience .job-item {
  border-bottom: 1px solid #050202;
  padding: 20px;
}
.work-experience .job-item__details {
  margin-bottom: 10px;
}
.work-experience .job-item__details__title {
  font-size: 18px;
  font-weight: bold;
  color: #161414;
}
.work-experience .job-item__details__company {
  font-size: 18px;
  color: #241c1c;
}
.work-experience .job-item__details__date {
  font-size: 14px;
  color: #232121;
}
.work-experience .job-item__summary {
  font-size: 16px;
  color: #555;
  line-height: 1.5;
}
.work-experience .job-item__summary__paragraph {
  margin-bottom: 15px;
}
.work-experience .job-item__summary__roles {
  font-weight: bold;
  margin-bottom: 10px;
}
.work-experience .job-item__summary__role-list {
  list-style-type: none;
  padding: 0;
}
.work-experience .job-item__summary__role-list__role {
  margin-bottom: 5px;
}

@media screen and (max-width: 768px) {
  .job-item {
    padding: 10px;
  }
  .job-item__details {
    margin-bottom: 5px;
  }
  .job-item__summary {
    font-size: 14px;
  }
}
/* ******************  EDUCATION & CERTIFICATIONS ****************** */
.education {
  background-size: cover;
  background-position: top right;
  padding-bottom: 100px;
}
.education__description {
  width: 60%;
}

footer {
  background: #343434;
  color: #f7fff7;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
footer .contact-list {
  list-style: none;
  padding: 0;
  text-align: center;
  align-items: center;
}
footer .contact-list a {
  padding: 15px;
  display: inline-block;
}

ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
}
ul li a {
  color: #ED5D31;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}

/* Define variables */
:root {
  --main-bg-color: #f0f0f0;
  --main-text-color: #ED5D31;
  --button-bg-color: #000000;
  --button-text-color: #ED5D31;
  --button-hover-bg-color: #484949;
  --button-hover-text-color: #fafaf8;
  --svg-img-hover-translateX: 30px;
  --svg-img-hover-translateX-alt: -40px;
  --blinking-text-border-color: #000000;
}

/* grid-container */
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  margin: 0 auto;
  width: 80%;
}
.grid-container .grid-item {
  background-color: var(--main-bg-color);
  padding: 20px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
}
@media screen and (max-width: 768px) {
  .grid-container {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
  }
}

/* transition-button */
.transition-button {
  background-color: var(--button-bg-color);
  color: var(--button-text-color);
  border: none;
  padding: 10px 20px;
  transition: background-color 0.3s, color 0.3s, transform 0.3s;
}
.transition-button:hover {
  background-color: var(--button-hover-bg-color);
  color: var(--button-hover-text-color);
  transform: scale(1.3);
}

/* animated-word */
.animated-word {
  position: relative;
  overflow: hidden;
  align-items: center;
  color: var(--main-text-color);
  font-weight: bold;
}
.animated-word .word {
  font-size: 12px;
  animation: animateWord 3s linear infinite;
}
@keyframes animateWord {
  0% {
    font-size: 10px;
  }
  50% {
    font-size: 15px;
  }
  100% {
    font-size: 20px;
  }
}

/* svg-img */
.svg-img {
  width: 100px;
}
.svg-img:hover {
  animation-name: move;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
  animation-direction: alternate;
}
@keyframes move {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(var(--svg-img-hover-translateX));
  }
  100% {
    transform: translateX(var(--svg-img-hover-translateX-alt));
  }
}

/* blinking-text */
.blinking-text {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  border-right: solid var(--blinking-text-border-color);
  animation: typing 3s steps(10) infinite, blink 0.2s steps(1) infinite;
}
@keyframes blink {
  0%, 100% {
    border-color: transparent;
  }
  50% {
    border-color: var(--blinking-text-border-color);
  }
}
@keyframes typing {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

/* flip-word */
.flip-word {
  text-align: center;
  font-weight: bold;
  font-size: 24px;
  display: inline-block;
  position: relative;
  animation: flip 2s infinite;
  transform-origin: center;
  color: var(--main-text-color);
}
@keyframes flip {
  0% {
    transform: rotateX(0deg);
  }
  50% {
    transform: rotateX(180deg);
  }
  100% {
    transform: rotateX(0deg);
  }
}

/* animated-box */
.animated-box {
  width: 100px;
  height: 100px;
  background-color: #000000;
  border: solid #ED5D31;
  animation: bounce 2s cubic-bezier(0.68, -0.55, 0.27, 1.55) infinite;
}
@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-50px);
  }
}

/* Variables */
/* motion-navbar */
.motion-navbar {
  background-color: #000000;
  overflow: hidden;
  height: 50px;
}
.motion-navbar__list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0;
}
.motion-navbar__list__item a {
  display: block;
  color: #ED5D31;
  padding: 14px 16px;
  text-decoration: none;
  transition: background-color 0.3s;
  font-weight: bold;
  font-size: 23px;
}

/* Reset styles */
* {
  margin: 0;
  padding: 0;
}

/* Base styles */
body {
  font-family: "Outfit", sans-serif;
  box-sizing: border-box;
}

h1 {
  text-align: center;
  margin: 16px 0;
}

h2 {
  margin-bottom: 16px;
}

.wrapper {
  margin: 0 auto;
  max-width: 600px;
  text-align: center;
}

.button {
  background: #222;
  color: #93d277;
  padding: 16px 24px;
  text-decoration: none;
  display: inline-block;
  border-radius: 20%;
}

/* Modal styles */
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 200ms;
  visibility: hidden;
  opacity: 0;
}

.modal {
  background: #fec0aa;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 4px;
  margin: 48px auto;
  max-width: 600px;
  padding: 24px;
  position: relative;
}

/* Global styles 
-----------------------------*/
body {
  color: #343434;
  margin: 0;
  padding: 0;
  font-family: "Outfit", sans-serif;
  font-size: 15px;
  line-height: 1.5;
}
body img {
  width: 300px;
}

a {
  color: #ED5D31;
}
a:hover {
  text-decoration: none;
}

h1 {
  font-size: 100px;
  line-height: 1;
}

h2 {
  font-size: 45px;
}

h1, h2 {
  font-family: "Satisfy", cursive;
  font-weight: 400;
  margin: 0;
}

.content-wrap {
  max-width: 800px;
  width: 85%;
  margin: 0 auto;
  padding: 60px 0;
}

h3 {
  margin-bottom: 0;
}

.item-details h3 + p {
  font-style: italic;
}
.item-details h3 ~ p {
  margin: 0;
}

.divider > section {
  border-bottom: 1px dashed #343434;
  padding: 25px 0;
}
.divider > section:last-of-type {
  border-bottom: none;
}/*# sourceMappingURL=main.css.map */